{{<layout}}
{{$style}}
<link rel="stylesheet" href="{{request.contextPath}}/templates/default/admin/css/select2.min.css">
<style type="text/css">
.touch .select2-results li:hover {
	background-color: #5897FB !important;
}
.trumbowyg-box {
	width: 100%;
	margin: 0;
	border-radius: 2px;
}
.trumbowyg-button-pane {
	background: none;
}
.select2-container--default .select2-selection--single {
	border-radius: 2px;
	border: 1px solid #E8ECF3;
	line-height: 34px;
	height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}
.select2-dropdown, .select2-container--default .select2-search--dropdown .select2-search__field, .dropzone {
	border: 1px solid #E8ECF3;
	border-radius: 2px;
}
</style>
{{/style}}
{{$script}}
<script type="text/javascript" src="{{request.contextPath}}/templates/default/admin/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var articleField = $("<select class=\"form-control\" name=\"article_id\" data-placeholder=\"文章\" style=\"width:120px\">"
			+ "{{#model.model}}<option value=\"{{id}}\" selected>{{title}}</option>{{/model.model}}</select>");
	var contentField = $("<input type=\"text\" name=\"content\" class=\"form-control\" required=\"required\">");
	var old_content;
	var reset = function(tr) {
		if (!tr.find(".comment-id").val()) {
			tr.remove();
		}
		var articleCol = tr.find(".comment-article");
		/*articleField.remove();
		articleCol.text(articleField.text());*/
		var contentCol = tr.find(".comment-content");
		contentField.remove();
		contentCol.text(old_content);
		tr.find(".action-normal").show();
		tr.find(".action-edit").hide();
	};
	var $btn;
	var setSelect = function(){
		$("select").select2({
			ajax: {
				url: "{{request.contextPath}}/admin/article.json",
				cache: "true",
			    data: function (params) {
		        	return {
		          		page: params.page
		        	};
		      	},
				processResults: function(data) {
					var options = [{
						id: 0,
						text: "全部"
					}];
					$(data.content).each(function() {
						options.push({
							id: this.id,
							text: this.title
						});
					});
					return {
						results: options,
						pagination: {
							more: !data.last
						}
					}
				}
			},
			minimumResultsForSearch: Infinity
		});
	}
	
	setSelect();
	
 	$(document)
 	.on("click", "button.fa-plus", function() {
 		var ptr = articleField.parents("tr");
		if (ptr.length) {
			reset(ptr);
		}
 		var ntr = $(".template-row").clone().removeClass("template-row");
		ntr.find(".fa-long-arrow-right").hide();
		ntr.find(".comment-article").append(articleField.val(""));
		ntr.find(".comment-content").append(contentField.val(""));
		if ($(this).hasClass("comment-sub")) {
			var article_id=$(this).parents("tr").find(".article-id").val();
			var comment_article=$(this).parents("tr").find(".comment-article").text();
			var comment_parent=$(this).parents("tr").find(".comment-content").text();
			articleField.append("<option value="+article_id+">"+comment_article+"</option>");
			ntr.find(".fa-long-arrow-right").show();
			ntr.find(".comment-parent").text(comment_parent);
			ntr.find(".comment-parent").val($(this).parents("tr").find(".comment-id").val());
			ntr.insertAfter($(this).parents("tr"));
			return;
		} else {
			$("table").append(ntr);
		}
		$(".empty-row").hide();
		setSelect();
 	})
	.on("click", "button.fa-remove", function() {
		var tbody = $(this).parents("tbody");
		var tr = $(this).parents("tr");
		var idField = tr.find(".comment-id");
		if (idField.length) {
			$btn = $(this).button('loading');
			var url = "/" + idField.val() + ".json?_method=DELETE&";
			url = location.href.indexOf("?") > 0 ? location.href.replace(".html?", url) : location.href.replace(".html", url) ;
			var confirmed = confirm("你确定要删除吗？");
			if (confirmed) {
				$.post(url, function(data) {
					$btn.button('reset');
					tr.remove();
					/* 只有^model时  .empty-row才会加载，所以该语句在有评论的情况下无效
					if (tbody.find("tr").length == 2) {
						$(".empty-row").show();
					}*/
					reset(tr);
					location.reload();
				});
			} else {
				$btn.button('reset');
				/* tr.find(".action-normal").show();
				tr.find(".action-edit").hide();
				reset(tr); */
			}
		} else {
			$btn.button('reset');
			tr.remove();
			/*if (tbody.find("tr").length == 2) {
				$(".empty-row").show();
			}*/
		}
		
	})
	.on("click", "button.fa-check", function() {
		$btn = $(this).button('loading');
		var tr = $(this).parents("tr");
		var body = {};
		tr.find("input").each(function() {
			if (!this.name) {
				return;
			}
			body[this.name] = this.value;
		});
		if(!body.article_id)
			body.article_id=tr.find("option").val();
		if(!body.content) {
			$btn.button('reset');
			reset(tr);
			return;
		}
		old_content=body.content;
		var url = body.id ? "/" + body.id + ".json?_method=PUT&" : ".json?";
		url = location.href.indexOf("?") > 0 ? location.href.replace(".html?", url) : location.href.replace(".html", url) ;
		$.post(url, body, function(data) {
			tr.find(".comment-id").val(data.id);
			$btn.button('reset');
			reset(tr);
			location.reload();
		});
		
	})
	.on("click", "button.fa-edit", function() {
		var ptr = articleField.parents("tr");
		if (ptr.length) {
			reset(ptr);
		}
		var tr = $(this).parents("tr");
		tr.find(".action-normal").hide();
		tr.find(".action-edit").show();
		/*var articleCol = tr.find(".comment-article");
		var article = articleCol.text();
		articleCol.text(""); 
		articleCol.append(articleField.val(article));*/
		var contentCol = tr.find(".comment-content");
		old_content = contentCol.text();
		contentCol.text("");
		contentCol.append(contentField.val(old_content));
	})
	.on("click", "button.fa-eject", function() {
		var tr = $(this).parents("tr");
		reset(tr);
	})
	.ajaxError(function() {
		$btn.button("reset");
		var ptr = nameField.parents("tr");
		if (ptr.length) {
			reset(ptr);
		}
		toastr.error('出错了哟');
	});
});
</script>
{{/script}}
{{$title}}
评论管理 - 
{{/title}}
{{$nav}}
<ol class="breadcrumb no-margin">
	<li><a href="index.html">首页</a></li>
	<li class="active">评论</li>
</ol>
{{/nav}}
{{$content}}
<div class="row mg-b">
	<div class="col-xs-6">
		<h3 class="no-margin">评论管理</h3>
		<small></small>
	</div>
	<div class="col-xs-6 text-right">
		<button class="fa fa-plus btn btn-white"> 添加评论</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">列表</header>
			<div class="panel-heading">
				<form class="form-inline" role="form" method="get" action="{{request.contextPath}}/admin/comment.html">
					<div class="form-group">
						<label for="content">评论内容: </label> 
						<input class="form-control" id="content" name="content" placeholder="评论内容: 输入*模糊匹配" type="text" value="{{#request.parameterMap.content}}{{.}}{{/request.parameterMap.content}}">
					</div>
					&nbsp;
					<div class="form-group">
						<label for="article_id">文章: </label>
						<select class="form-control" id="article_id" name="article_id" data-placeholder="文章" style="width:120px">
							{{#model.model}}
							<option value="{{id}}" selected>{{title}}</option>
							{{/model.model}}
						</select>
					</div>
					<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
			<div class="panel-body no-padding">
				<div class="table-responsive">
					<table 
						class="table table-hover table-striped responsive" >
						<thead>
							<tr>
								<th width="10%">文章</th>
								<th>评论对象</th>
								<th>评论内容</th>
								<th width="10%">时间</th>
								<th width="10%">发布人</th>
								<th width="20%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr class="template-row">
								<td class="form-inline">
									<i class="fa fa-long-arrow-right"></i>
									<span class="comment-article"></span>
								</td>
								<td class="comment-parent"></td>
								<td class="comment-content"></td>
								<td></td>
								<td></td>
								<td nowrap="nowrap" valign="middle">
									<input type="hidden" name="id" class="comment-id">
									<input type="hidden" name="parent" class="comment-parent">
									<span class="action-edit">
										<button class="fa fa-check btn btn-success" data-loading-text="处理中..." autocomplete="off"> 完成</button>
										<button class="fa fa-remove btn btn-danger" type="button"> 删除</button>
									</span>
								</td>
							</tr>
							{{#model}}
							<tr>
								<td class="comment-article form-inline">
									{{article.title}}
									<input type="hidden" name="article_id" class="article-id" value="{{article.id}}">
								</td>
								<td class="comment-parent">{{parent.content}}</td>
								<td class="comment-content">{{content}}</td>
								<td>{{createdDate}}</td>
								<td>{{createdBy.username}}</td>
								<td nowrap="nowrap">
									<input type="hidden" name="id" class="comment-id" value="{{id}}">
									<span class="action-normal">
									{{#id}}<button class="fa fa-plus btn btn-white comment-sub"> 添加子评论</button>{{/id}}
									<button class="fa fa-edit btn btn-white"> 编辑</button>
									</span>
									<span class="action-edit" style="display:none">
										<button class="fa fa-check btn btn-success" data-loading-text="处理中..." autocomplete="off"> 完成</button>
										<button class="fa fa-remove btn btn-danger" data-loading-text="处理中..." autocomplete="off"> 删除</button>
										<button class="fa fa-eject btn"> 取消</button>
									</span>
								</td>
							</tr>				
							{{/model}}
							{{^model}}
							<tr class="empty-row">
								<td colspan="6" nowrap="nowrap">
								还没有评论呀， <button class="fa fa-plus btn btn-white"> 添加</button> 一个
								</td>
							</tr>
							{{/model}}
						</tbody>
					</table>
				</div>
			</div>
		</section>
		{{>pagination}}
	</div>
</div>
{{/content}}
{{/layout}}