{{< layout}}
{{$title}} {{#model}}编辑{{/model}}{{^model}}添加{{/model}}分类 - {{/title}}
{{$nav}}
<ol class="breadcrumb no-margin">
	<li><a href="{{request.contextPath}}/admin/index.html">首页</a></li>
	<li><a href="{{request.contextPath}}/admin/menu-category.html">菜单分类</a></li>
	<li class="active">{{#model}}编辑{{/model}}{{^model}}添加{{/model}}菜单分类</li>
</ol>
{{/nav}}
{{$style}}
<link rel="stylesheet" href="{{request.contextPath}}/templates/default/admin/css/dropzone.min.css">
<style>
.dropzone {
	border: 1px solid #E8ECF3;
	border-radius: 2px;
}
</style>
{{/style}}
{{$script}}
<script type="text/javascript">
$(document).ready(function() {
	$(".btn-reset").click(function() {
		location.href = "{{request.contextPath}}/admin/menu-category.html";
	});
	//表单名称验证
	var name = $("input[name='name']");
	var validateFunc = function(dom){
		var validator = new Validator();
		validator.add(name,[
			{strategy:'isNotEmpty',errorMsg:'名称不能为空!'},
		]);
		var error = validator.start(dom);
		return error;
	};
	$('input').blur(function(){
		validateFunc(this);
	})
	$("form").submit(function(e) {
		    var error = validateFunc();
			if(error){
				return true;
			}
			e.preventDefault();
			return false;
		});
});
</script>
{{/script}}
{{$content}}
<div class="row mg-b">
	<div class="col-xs-12">
		<h3 class="no-margin">{{#model}}编辑{{/model}}{{^model}}添加{{/model}}菜单分类</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">填写分类信息</header>
			<div class="panel-body">
				<form class="form-horizontal" action="{{request.contextPath}}/admin/menu-category{{#model}}/{{id}}{{/model}}.html{{#model}}?_method=PUT{{/model}}" method="post">
					{{#model}}
					<input type="hidden" name="id" value="{{id}}">
					{{/model}}
					<div class="form-group">
						<label class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10">
							<input class="form-control" name="name" type="text" placeholder="请输入名称" value="{{model.name}}">
							<label class="error-information"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">描述</label>
						<div class="col-sm-10">
							<input class="form-control" name="description" type="text" placeholder="请输入描述" value="{{model.description}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">提交</button>
							<button type="reset" class="btn btn-reset btn-default">取消</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
{{/content}}
{{/layout}}
