{{<layout}}
{{$script}}
<script type="text/javascript">
$(document).ready(function() {
 	$(document).ajaxError(function() {
		toastr.error('出错了哟');
	})
	.on("click", "button.fa-remove", function() {
		var tbody = $(this).parents("tbody");
		var tr = $(this).parents("tr");
		var idField = tr.find(".module-id");
		if (idField.length) {
			$btn = $(this).button('loading');
			var url = "{{request.contextPath}}/admin/module/" + idField.val() + ".json?_method=DELETE";
			var confirmed = confirm("你确定要删除吗？");
			if (confirmed) {
				$.post(url, function(data) {
					$btn.button('reset');
					tr.remove();
					if (tbody.find("tr").length == 2) {
						$(".empty-row").show();
					}
				});
			} else {
				$btn.button('reset');
			}
		} else {
			$btn.button('reset');
			tr.remove();
			if (tbody.find("tr").length == 2) {
				$(".empty-row").show();
			}
		}
		
	});;
 	$(".fa-edit").click(function() {
 		var id = $(this).parents("tr").find("input:hidden").val();
 		location.href = "{{request.contextPath}}/admin/module/" + id + ".html";
 	});
});
</script>
{{/script}}
{{$title}}
模块管理 - 
{{/title}}
{{$nav}}
<ol class="breadcrumb no-margin">
	<li><a href="index.html">首页</a></li>
	<li class="active">模块</li>
</ol>
{{/nav}}
{{$content}}
<div class="row mg-b">
	<div class="col-xs-6">
		<h3 class="no-margin">模块管理</h3>
	</div>
	<div class="col-xs-6 text-right">
		<a class="fa fa-plus btn btn-white" href="{{request.contextPath}}/admin/module/detail.html"> 添加模块</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">列表</header>
			<div class="panel-heading">
				<form class="form-inline" role="form" method="get" action="{{request.contextPath}}/admin/module.html">
					<div class="form-group">
						<label for="name">模块名: </label> 
						<input class="form-control" id="name" name="name" placeholder="输入*模糊匹配" type="text" value="{{#request.parameterMap.name}}{{.}}{{/request.parameterMap.name}}">
					</div>
					&nbsp;
					<div class="form-group">
						<label for="code">代号: </label> 
						<input class="form-control" id="code" name="code" placeholder="输入*模糊匹配" type="text" value="{{#request.parameterMap.code}}{{.}}{{/request.parameterMap.code}}">
					</div>
					<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
			<div class="panel-body no-padding">
				<div class="table-responsive">
					<table 
						class="table table-hover table-striped responsive" >
						<thead>
							<tr>
								<th width="20%">模块名</th>
								<th>代号</th>
								<th width="20%">操作</th>
							</tr>
						</thead>
						<tbody>
							{{#model}}
							<tr>
								<td class="module-name form-inline">{{name}}</td>
								<td class="module-cover">{{code}}</td>
								<td nowrap="nowrap">
									<input type="hidden" name="id" class="module-id" value="{{id}}">
									<span class="action-normal">
										<button class="fa fa-edit btn btn-white"> 编辑</button>
										<button class="fa fa-remove btn btn-danger" data-loading-text="处理中..." autocomplete="off"> 删除</button>
									</span>
								</td>
							</tr>
							{{/model}}
							{{^model}}
							<tr class="empty-row">
								<td nowrap="nowrap">
								还没有模块呀，<a class="fa fa-plus btn btn-white" href="{{request.contextPath}}/admin/module/detail.html"> 添加</a> 一个
								</td>
								<td></td>
								<td></td>
							</tr>
							{{/model}}
						</tbody>
					</table>
				</div>
			</div>
		</section>
		{{>pagination}}
	</div>
</div>
{{/content}}
{{/layout}}