{{< layout}}
{{$title}} 设置 - {{/title}}
{{$nav}}
<ol class="breadcrumb no-margin">
	<li><a href="{{request.contextPath}}/admin/index.html">首页</a></li>
	<li class="active">设置</li>
</ol>
{{/nav}}
{{$style}}
<link rel="stylesheet" href="{{request.contextPath}}/templates/default/admin/css/select2.min.css">
<style type="text/css">
.touch .select2-results li:hover {
	background-color: #5897FB !important;
}
.select2-container--default .select2-selection--single {
	border-radius: 2px;
	border: 1px solid #E8ECF3;
	line-height: 34px;
	height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}
.select2-dropdown, .select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #E8ECF3;
	border-radius: 2px;
}
</style>
{{/style}}
{{$script}}
<script type="text/javascript" src="{{request.contextPath}}/templates/default/admin/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$(".js-switch-green").each(function() {
		var switchery = new Switchery(this, {
			color : '#2dcb73'
		});
	});
	
	{{#model}}
	{{#?:}}
	'{{type}}'!='SELECT'?:$("select[name={{name}}]").select2({
		ajax: {
			url: "{{request.contextPath}}{{source}}",
			cache: "true",
		    data: function (params) {
	        	return {
	          		page: params.page
	        	};
	      	},
			processResults: function(data) {
				var options = [];
				$(data.content).each(function() {
					options.push({
						id: this.title ? this.title : this.name,
						text: this.title ? this.title : this.name
					});
				});
				return {
					results: options,
					pagination: {
						more: !data.last
					}
				}
			}
		},
		minimumResultsForSearch: Infinity
	});
	{{/?:}}
	{{/model}}
	$(".js-switch-green").change(function() {
		if (!this.checked) {
			$('<input type="hidden" value="false" name="' + this.name + '">').appendTo($(this.form));
		} else {
			$("input[name=" + this.name + "][type=hidden]").remove();
		}
	});
});
</script>
{{/script}}
{{$content}}
<div class="row mg-b">
	<div class="col-xs-12">
		<h3 class="no-margin">系统设置</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">填写分类信息</header>
			<div class="panel-body">
				<form class="form-horizontal" action="{{request.contextPath}}/admin/setting.html" method="post">
					{{#model}}
					<div class="form-group">
						<label class="col-sm-2 control-label">{{#trans}}{{name}}{{/trans}}</label>
						<div class="col-sm-10">
							{{#?:}}
							'{{type}}'=='TEXTAREA'?<textarea class="form-control" name="{{name}}">{{value}}</textarea>
							{{/?:}}
							{{#?:}}
							'{{type}}'=='TEXT'||'{{type}}'==''?<input class="form-control" name="{{name}}" type="{{type}}" value="{{value}}">
							{{/?:}}
							{{#?:}}
							'{{value}}'=='true'?<input class="js-switch-green" type="checkbox" name="{{name}}" value="true" checked>
							{{/?:}}
							{{#?:}}
							'{{value}}'=='false'?<input class="js-switch-green" type="checkbox" name="{{name}}" value="true">
							{{/?:}}
							{{#?:}}
							'{{type}}'!='SELECT'?:<select class="form-control" name="{{name}}" style="width: 100%"><option value={{value}}>{{value}}</option></select>
							{{/?:}}
						</div>
					</div>
					{{/model}}
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">提交</button>
							<button type="reset" class="btn btn-reset btn-default">取消</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
{{/content}}
{{/layout}}
